html {
  font-family: sans-serif;
  width: 90%;
  background-color: #333;
  color: #fff;
  margin: 0, auto;
  padding: 25px 0px;
}

code, pre {
  background-color: pink;
  color: red;
  padding: .2;
  border-redius: 2px;

}

a:hover {
background-color: gray;
}

a {
color: #fff;
}
